li {
    margin-left: 30px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #000;
    margin: 25px;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body h1 {
    background-color: hsla(0, 0%, 100%, 0.50);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}
